@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  background-color: #fff;
}

/* Common Styling */
h1.section-heading {
  color: #465870;
  margin-top: 0.5em;
}

/* Separator under each section heading */
.separator {
  margin-bottom: 4em;
  width: 96px;
  height: 2px;
  background: #000; /* Fallback for browsers that don't support */
  background: -moz-linear-gradient(135deg, #425365 0%, #67cbec 100%);
  background: -webkit-linear-gradient(135deg, #425365 0%, #67cbec 100%);
  background: linear-gradient(135deg, #425365 0%, #67cbec 100%);
}
/* End Common Styling */

/* Header section */
header {
  background-image: url("images/site_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.logo-main h1 {
  padding-top: 40vh;
  font-size: 90px;
  font-weight: 300;
}

.scroll-icon {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  font-size: 20px;
  text-decoration: none;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 100;
  transform: translate(-50%, 0%) rotate(45deg);
  animation: fade_arrow_down 1.8s ease-in-out infinite;
}

a.scroll-icon-click::after {
  content: "";
  bottom: 4vh;
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(-45%, 0%) rotate(45deg);
  z-index: 999;
}

/* Animation Keyframe Section */
@keyframes fade_arrow_down {
  /* Keyframes for the arrow fade animation for scroll icon */
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
/* End Animation Keyframe Section */

/* Navbar */
.sticky {
  background-color: #3c4d63a4;
  position: fixed;
  opacity: 1;
  top: 0px;
  z-index: 999;
  width: 100%;
  left: 0;
  transition: background 0.2s ease-in;
}

.pullUp a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 0px;
  background: #fff;
  opacity: 0.3;
  transition: all 0.3s;
}

.pullUp a:hover:before {
  height: 100%;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font: 16px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  display: block;
}

.navbar {
  font-family: Raleway;
  margin: 0 auto;
  text-align: center;
}

.navbar-list {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  display: inline-block;
  margin: 10px 0;
}
/* End navbar */

/* End Header section */

/* About Section */
#about {
  padding: 75px 0 50px 0;
}

img.profile-pic {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 0 7px #344155;
}

div.profile-pic-container {
  margin-left: 0;
  margin-right: 4%;
  margin-bottom: 4%;
}

#about-blurb {
  font-size: 2rem;
}
/* End About Section */

/* Resume Section */
#resume {
  padding: 50px 0 100px 0;
  background-color: #f5f5f5;
}

.skillbar {
  margin-bottom: 1.66em;
}

.skillbar h4 {
  font-size: 16px;
  text-transform: none;
  margin-bottom: 7px;
  margin-bottom: 0.33em;
}

.skillbarContainer {
  width: 100%;
  height: 8px;
  background: #e1e1e1;
  overflow: hidden;
}

.skillbarValue {
  height: 8px;
  float: left;
  background: #425365; /* Fallback for browsers that don't support */
  background: -moz-linear-gradient(135deg, #425365 0%, #67cbec 100%);
  background: -webkit-linear-gradient(135deg, #425365 0%, #67cbec 100%);
  background: linear-gradient(135deg, #425365 0%, #67cbec 100%);
}

.value-00 {
  width: 0;
}

.value-10 {
  width: 10%;
}

.value-20 {
  width: 20%;
}

.value-30 {
  width: 30%;
}

.value-40 {
  width: 40%;
}

.value-50 {
  width: 50%;
}

.value-60 {
  width: 60%;
}

.value-70 {
  width: 70%;
}

.value-80 {
  width: 80%;
}

.value-90 {
  width: 90%;
}

.value-95 {
  width: 95%;
}

.value-100 {
  width: 100%;
}

ul.skills-list {
  list-style: none;
  font-size: 20px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

ul.skills-list li {
  display: inline-block;
}

ion-icon {
  font-size: 24px;
  vertical-align: middle;
  padding-bottom: 4px;
  margin-right: 3px;
  color: #425365;
}

ion-icon.python-logo {
  color: #ffa60088;
}

ion-icon.html-logo {
  color: #ee5109b0;
}

ion-icon.css-logo {
  color: #1d9ed1a1;
}

ion-icon.js-logo {
  color: #f0db4f;
}

ion-icon.sql-logo {
  color: #0079d6;
}
/* End Resume Section */

/* Photography Section */
#photography {
  padding: 50px 0 100px 0;
}

.photo-container {
  max-width: 960px;
  position: relative;
  margin: auto;
}

.slideshow-image {
  width: 100%;
}

.photo-slide {
  display: none;
}

.photo-slide:hover .photo-caption {
  opacity: 1;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -28px;
  padding: 18px;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  user-select: none;
}

ion-icon.next-arrow, ion-icon.arrow {
  margin-right: 0;
  color: white;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.photo-caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 0;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #00000093;
  opacity: 0;
  transition: .5s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* End Photography Section */

/* Contact Section */
#contact {
  padding: 50px 0 100px 0;
  background-color: #f5f5f5;
}

/* End Contact Section */

/* Footer */
footer {
  min-height: 50px;
  padding: 20px 0 20px 0;
  background: #425365;
  background: -moz-linear-gradient(-45deg, #425365 0%, #67cbec 100%);
  background: -webkit-linear-gradient(-45deg, #425365 0%, #67cbec 100%);
  background: linear-gradient(135deg, #425365 0%, #67cbec 100%);
  box-sizing: border-box;
  color: #fff;
}

.md-24 {
  font-size: 24px;
  vertical-align: middle;
  padding-bottom: 2px;
  margin-right: 3px;
  color: #fff;
}

ion-icon.contact {
  margin-right: 5px;
  padding-bottom: 0;
  font-size: 24px;
  color: #fff;
}
/* End Footer */
